/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card .logbutton {
  button{
    background: aqua;
    color: black;
    border-radius: 20px;
  }
  :hover {
    background: blueviolet;
    color: greenyellow;
    border-radius: 20px;
  }
}


.red-sign {
  background: red;
  height: 20px;
  flex-direction: row;
  border-radius: 10px;
  width: 100%;
  color: black;
  padding: 3px;
}

.green-sign {
  background: lawngreen;
  height: 20px;
  flex-direction: row;
  border-radius: 10px;
  width: 100%;
  color: black;
  padding: 3px;
}
