<mat-card>
  <table style="width: 100%">
    <tr>
      <td>
        <app-camera-view [providerService]="basicAuthService" [params]="baParams" [title]="'Basic Auth'" [prefix]="'ba'"></app-camera-view>
      </td>
      <td>
        <app-camera-view [providerService]="hmacAuthService" [params]="hmacParams" [title]="'HMAC Auth'" [prefix]="'hmac'"></app-camera-view>
      </td>
    </tr>
    <tr>
      <td>
        <app-camera-view></app-camera-view>
      </td>
      <td>
        <app-camera-view></app-camera-view>
      </td>
    </tr>
    <tr>
      <td>
        <app-camera-view></app-camera-view>
      </td>
      <td>
        <app-camera-view></app-camera-view>
      </td>
    </tr>
  </table>
</mat-card>
