<mat-card>
  <table style="width: 100%">
    <tr>
      <td>
        <app-camera-view></app-camera-view>
      </td>
      <td>
        <app-camera-view></app-camera-view>
      </td>
    </tr>
    <tr>
      <td>
        <app-camera-view></app-camera-view>
      </td>
      <td>
        <app-camera-view></app-camera-view>
      </td>
    </tr>
    <tr>
      <td>
        <app-camera-view></app-camera-view>
      </td>
      <td>
        <app-camera-view></app-camera-view>
      </td>
    </tr>
  </table>
</mat-card>
