mat-card {
  border-radius: 0;
  background: black;
}

.monitor {
  text-align: left;
  background: aqua;
  color: black;
  height: 70px;

  word-wrap: normal;

  overflow: auto;
  box-sizing: border-box;
  right: 0;
  top: 0;
  width: 100%;
}

.error {
  text-align: left;
  background: red;
  color: black;
  height: 100px;

  word-wrap: normal;

  overflow: auto;
  box-sizing: border-box;
  right: 0;
  top: 0;
  width: 100%;
}

form mat-card {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
