mat-card {
  border-radius: 0;
  background: black;
}

.monitor {
  text-align: left;
  background: aqua;
  color: black;
  height: 50px;
}
.error {
  text-align: left;
  background: red;
  color: black;
  height: 100px;
}

form mat-card {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
