<mat-card style="height:550px;">
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card>
    @if (getStatus()!='UP') {
      <div class="red-sign">Camera is unreachable</div>
    } @else {
      <div class="green-sign">Camera is On</div>
    }
  </mat-card>
  @if (!errorMessage) {
    <mat-card class="monitor" cdk-scrollable>{{basicMessage}}</mat-card>
  } @else {
    <mat-card class="error">{{errorMessage}}</mat-card>
  }
  <mat-card class="logbutton">
    <button mat-button (click)="sendRequest()">Send Request</button>
    <button mat-button (click)="clearLogs()">Clear logs</button>
  </mat-card>
  @if (imageSrc) {
    <mat-card style="top: 0; float: right; margin-bottom: -150px">
      <img [src]="imageSrc" alt="{{prefix}}-camera" width="200px"/>
    </mat-card>
  }
  <mat-card style="width: 300px">
    <form>
      @for (param of currentState; track param.param) {
        <mat-card>
          <mat-form-field>
            <mat-label>{{param.name}}</mat-label>
            <input matInput placeholder="{{param.param}}" value="{{param.value}}" name="{{param.param}}"
                   [(ngModel)]="param.value">
          </mat-form-field>
        </mat-card>
      }
    </form>
  </mat-card>
</mat-card>
