<mat-card style="height:550px;">
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card>
    <div class="red-sign" *ngIf="getStatus()!='UP'">Camera is unreachable</div>
    <div class="green-sign" *ngIf="getStatus()==='UP'">Camera is On</div>
  </mat-card>
  <mat-card *ngIf="!errorMessage" class="monitor" cdk-scrollable>{{basicMessage}}</mat-card>
  <mat-card *ngIf="errorMessage" class="error">{{errorMessage}}</mat-card>
  <mat-card class="logbutton">
    <button mat-button (click)="sendRequest()">Send Request</button>
    <button mat-button (click)="clearLogs()">Clear logs</button>
  </mat-card>
  <mat-card style="top: 0px; float: right; margin-bottom: -150px" *ngIf="imageSrc">
    <img [src]="imageSrc" alt="{{prefix}}-camera" width="200px"/>
  </mat-card>
  <mat-card style="width: 300px">
    <form>
      <mat-card *ngFor="let param of currentState">
        <mat-form-field>
          <mat-label>{{param.name}}</mat-label>
          <input matInput placeholder="{{param.param}}" value="{{param.value}}" name="{{param.param}}"
                 [(ngModel)]="param.value">
        </mat-form-field>
      </mat-card>
    </form>
  </mat-card>
</mat-card>
